In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('UceResultsBySchool2011-2016.csv')
df.describe()

,YEAR,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,TOTAL DIV 4,% DIV 4,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
count,17639.000000,17368.000000,12858.000000,17639.000000,16880.000000,17639.000000,17168.000000,17639.000000,16888.000000,17639.000000,...,16399.000000,17505.000000,16260.000000,17505.000000,7508.000000,17505.000000,10519.000000,17505.000000,10379.000000,17505.000000
mean,2013.582119,100.111469,10.348266,6.226481,16.058649,14.748733,22.545841,22.165344,45.981348,45.378326,...,12.141899,22.275321,21.750308,40.687735,7.981220,0.427552,5.304687,6.074424,1.937759,2.206164
std,1.710821,66.964610,26.214334,13.266156,19.324105,12.800108,17.804404,10.241613,35.558741,20.025948,...,10.747881,11.836926,18.530590,21.373996,15.589676,1.522106,7.048635,8.668762,2.284239,4.182025
min,2011.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2012.000000,54.000000,1.000000,0.000000,4.000000,5.500000,10.000000,15.300000,22.000000,35.400000,...,5.000000,14.900000,9.000000,27.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
50%,2014.000000,84.000000,3.000000,1.800000,10.000000,10.900000,18.000000,22.200000,38.000000,50.400000,...,9.000000,22.400000,17.000000,45.300000,1.000000,0.000000,3.000000,2.600000,1.000000,0.800000
75%,2015.000000,128.000000,8.000000,5.700000,20.000000,20.400000,30.000000,29.000000,61.000000,59.400000,...,16.000000,29.900000,29.000000,56.300000,9.000000,0.000000,7.000000,9.000000,2.000000,3.200000
max,2016.000000,499.000000,430.000000,100.000000,245.000000,100.000000,179.000000,100.000000,302.000000,100.000000,...,140.000000,100.000000,170.000000,100.000000,178.000000,66.700000,81.000000,100.000000,49.000000,100.000000

In [3]:
df

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,2011,WAKISO,GAYAZA HIGH SCHOOL,176.0,175.0,99.4,1.0,0.6,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
1,2011,MUKONO,NAMILYANGO COLLEGE,151.0,150.0,99.3,NaN,0.0,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.7
2,2011,MUKONO,"MT.ST.MARY'S,NAMAGUNGA",153.0,151.0,98.7,2.0,1.3,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
3,2011,WAKISO,"UGANDA MARTYRS SS,NAMUGONGO",222.0,216.0,97.3,6.0,2.7,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
4,2011,BUSHENYI MAIN,KITABI SEMINARY,73.0,71.0,97.3,2.0,2.7,NaN,0.0,...,2.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634,2016,ZOMBO,PAIDHA SECONDARY SCHOOL P.O.BOX 117 PAIDHA,148.0,0.0,0.0,12.0,8.1,30.0,20.3,...,25.0,24.0,53.0,51.0,0.0,0.0,10.0,9.6,4.0,3.8
17635,2016,ZOMBO,PAKADHA SEED SECONDARY SCHOOL P.O.BOX 143 P...,68.0,0.0,0.0,2.0,2.9,11.0,16.2,...,7.0,17.5,29.0,72.5,0.0,0.0,3.0,7.5,0.0,0.0
17636,2016,ZOMBO,"CHARITY COLLEGE,PAIDHA P.O.BOX 47 PAIDHA",128.0,0.0,0.0,4.0,3.1,6.0,4.7,...,6.0,5.8,54.0,51.9,1.0,1.0,31.0,29.8,8.0,7.7
17637,2016,ZOMBO,NEGRINI MEM. SECONDARY SCHOOL P.O.BOX 156 P...,45.0,0.0,0.0,1.0,2.2,2.0,4.4,...,2.0,6.5,19.0,61.3,0.0,0.0,9.0,29.0,1.0,3.2
17638,2016,ZOMBO,JANGOKORO SEED SEC. SCHOOL P.O.BOX 139 PAIDHA,50.0,0.0,0.0,1.0,2.0,4.0,8.0,...,4.0,18.2,10.0,45.5,0.0,0.0,7.0,31.8,0.0,0.0